body{
  background-color: #B1BCE6;
  font-family: 'Caveat', cursive;
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  flex: 1;}

@media (min-width: 1894px) {
  h1{
    font-size: 5rem;
    text-align: center;
  }

  .tile-image{
    height: 200px;
    width: 400px;
    float: left;
    margin-right: 50px;
  }

  .card-title{
    font-size: 3rem;
  }
  p{
    font-size: 2rem;
  }

  .card{
    width: 45%;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  body > div > div.middle.card{
    position: relative;
    left: 30%;
  }

  footer{
    text-align: right;
    color: midnightblue;
  }

}

@media (min-width: 855px)and (max-width: 1894px) {
  h1{
    font-size: 5rem;
    text-align: center;
  }

  .tile-image{
    height: 200px;
    width: 400px;
    float: left;
    margin-right: 50px;
  }

  .card-title{
    font-size: 3rem;
  }
  p{
    font-size: 2rem;
  }

  .card{
    width: 45%;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  body > div > div.middle.card{
    position: relative;
    left: 30%;
  }

  footer{
    text-align: right;
    color: midnightblue;
  }
}

@media (max-width: 854px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
  